title: Frontend Architect Journey
description: Study plans and materials for becoming a frontend architect
theme: just-the-docs

url: https://yogeshkadu.github.io/frontend-architect/

mermaid:
  version: "10.9.5"

callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red
